body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  background: #CCD1D1  !important;
}

.header-links li i {

  color: #000000;
  margin-right: 15px;
  font-size: 20px;

}
#navigation {
  /*-- barrita delgdita amarilla --*/
  border-top: 3px solid #D4AC0D;
  
.header-links li a:hover {
  color: #D10024!important;
}
}
/*-- encabezado amarillo --*/
#top-header {
 background-color: #2E86C1;
}
#header {
   background-color: #000000;
}

.header-links li a {
  color: #000000;
  font-family: sans-serif;
}
/*-- seleccionar texto color azul --*/

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
  color: #2980B9 ;
  
}
.main-nav>li>a:after {
    
    background-color: #2980B9;
}   
}
/*--boton de buscador --*/
.header-search form .search-btn{
 background: #D4AC0D;
color: #000000;
 }

/*--color de notificacion --*/
.header-ctn>div>a>.qty {
  
  background-color:#D4AC0D;
}
/*--color de boton siguiente --*/
.slick-prev, .slick-next {
  
  border: 1px solid #000;
  background-color: #EC7063  ;
  
}
/*--color de pie negro --*/
#footer {
  background: #000000;
  color: #B9BABC;
}

/*--color de pie amarillo --*/
#bottom-footer {
  background: #D4AC0D;
}

/*--recuadro de orden --*/
.order-details {
  background: #B9770E ;
}
/*barra amarilla*/
#breadcrumb {
  
  border-bottom: 1px solid #B9770E;
  background: #B9770E;
}
.newsletter form .newsletter-btn{
  background: #000;
}

