body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  background: #D2B4DE  !important;
}

.header-links li i {

  color: #000000;
  margin-right: 15px;
  font-size: 20px;

}
#navigation {
  /*-- barrita delgdita amarilla --*/
  border-top: 3px solid #6C3483;
  }
  /*-- barrita delgdita amarilla ababjo --*/
  #newsletter.section {
  border-top: 4px solid #6C3483;
  border-bottom: 5px solid #6C3483;
  margin-top: 30px;
}


.header-links li a:hover {
  color: #7D3C98!important;
}
/*-- encabezado amarillo --*/
#top-header {
 background-color: #7D3C98;
}
#header {
   background-color: #000 ;
}

.header-links li a {
  color: #000000;
  font-family: sans-serif;
}
/*-- seleccionar texto color azul --*/

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
  color: #6C3483;
  
}
.main-nav>li>a:after {
    
    background-color: #6C3483;
   
}
/*--boton de buscador --*/
.header-search form .search-btn {
 
  background: #6C3483;
  color: #000000;
 
}
.product .product-body {
    
    background-color: #E5E8E8;
    }

/*--color de notificacion --*/
.header-ctn>div>a>.qty {
  
  background-color:#6C3483;
}
/*--color de boton siguiente --*/
.slick-prev, .slick-next {
  
  border: 1px solid #000;
  background-color: #85C1E9 ;
}
/*--color de pie negro --*/
#footer {
  background: #000;
  color: #fff;
}

/*--color de pie amarillo --*/
#bottom-footer {
  background: #5D6D7E;
}
/*--Circulos edondos color negro --*/
.hot-deal .hot-deal-countdown>li {
background: #000;
}
/*--boton abajo de los botonoes redondos --*/
.primary-btn {
background-color: #000;
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  background: #fff  !important;
}

.header-links li i {

  color: #000000;
  margin-right: 15px;
  font-size: 20px;

}
#navigation {
  /*-- barrita delgdita amarilla --*/
  border-top: 3px solid #D4AC0D;
  }
  /*-- barrita delgdita amarilla ababjo --*/
  #newsletter.section {
  border-top: 4px solid #D4AC0D;;
  border-bottom: 5px solid #D4AC0D;;
  margin-top: 30px;
}


.header-links li a:hover {
  color: #D10024!important;
}
/*-- encabezado amarillo --*/
#top-header {
 background-color: #D4AC0D;
}
#header {
   background-color: #000000;
}

.header-links li a {
  color: #000000;
  font-family: sans-serif;
}
/*-- seleccionar texto color azul --*/

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
  color: #2980B9 ;
  
}
.main-nav>li>a:after {
    
    background-color: #2980B9;
   
}
/*--boton de buscador --*/
.header-search form .search-btn {
 
  background: #D4AC0D;
  color: #000000;
 
}
/*--boton de buscador bajo --*/
.newsletter form .newsletter-btn {
 background: #000000;
  
}
/*--color en las imagenes --*/
.shop:after {
  
  background: #000000!important;
  
}
/*--color en las imagenes --*/
.shop:before {
  
  background: #D4AC0D;
 
}
/*--color en las imagene lo mas vendido --*/
.product .product-body {
  
  background-color: #D4AC0D;
  
}
/*--color de notificacion --*/
.header-ctn>div>a>.qty {
  
  background-color:#D4AC0D;
}
/*--color de boton siguiente --*/
.slick-prev, .slick-next {
  
  border: 1px solid #000;
  background-color: #EC7063  ;
  
}
/*--color de pie negro --*/
#footer {
  background: #000000;
  color: #B9BABC;
}

/*--color de pie amarillo --*/
#bottom-footer {
  background: #D4AC0D;
}
/*--Circulos edondos color negro --*/
.hot-deal .hot-deal-countdown>li {
background: #000;
}
/*--boton abajo de los botonoes redondos --*/
.primary-btn {
background-color: #000;
}